<html>
<head>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.0.min.js"></script>
</head>
<body>



<script type="text/javascript" src="/static/math.js?r={{reload}}"></script>

<table id="data_table">
<tbody>
<tr>
<td>ID</td>
<td>Action</td>
<td>Ethnicity</td>
<td>Gender</td>
<td>Emotion</td>
<td>Coordinates</td>
<td>Image</td>

</tr>

{% for p in my_data %}
    <tr>
	<td>{{ p.id }}</td>
	<td>{{ p.activity }}</td>
	<td>{{ p.ethnicity }}</td>
	<td>{{ p.gender }}</td>
	<td>{{ p.emotion }}</td>
	<td>{{ p.coord.x}}  {{p.coord.y }}</td>
	<td> <img src={{ p.img }} height="150" width="100"></td>
	</tr>

{% endfor %}

</tbody>
</table>

</body>
</html>